.emoji-item {
  width: 20%;
  height: 130px;
  border-radius: 25px;
  background-color: #ffffff33;
  border: 3px solid #ffffff30;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.image-button {
  width: 90%;
  height: 115px;
  border: none;
  background-color: transparent;
}
.Emoji {
  width: 30%;
  height: 98%;
  outline: none;
  cursor: pointer;
}
