.score-card {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-emoji {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  margin-right: 10px;
}

.top-score {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
  margin-left: 10px;
}
